.blogSeries {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px 0px var(--color-shadow);
  font-size: 0.88em;
  border-radius: 2px;
}

.blogSeries > * {
  padding: calc(0.1vw + 9px);
}

.blogSerie {
  display: block;
  text-decoration: none;
  color: var(--color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
  background-color: var(--serie);
}

.title {
  background-color: var(--separator);
  font-size: 0.96em;
  font-weight: bold;
}
