:root {
  --max-screen-width: 900px;
}

body,
html {
  font-family: QuickSand;
  padding: 0;
  margin: 0;
}

.light-theme {
  background-color: rgb(250, 250, 250);
}

.light-theme main {
  background-color: white;
}

.light-theme header {
  background: linear-gradient(-213deg, #ad1457 0%, #e91e63 100%) right center /
      contain no-repeat,
    left center #f06292;
}

.light-theme header nav a {
  color: white;
}

.light-theme header nav a:hover,
.light-theme header nav a.active {
  background-color: #880e4f;
}

.light-theme .post-list-item a {
  color: #ad1457;
}

main img {
  max-width: 100%;
}

header,
footer {
  display: flex;
  padding: 30px calc((100% - var(--max-screen-width)) / 2) 40px;
}

footer {
  justify-content: space-between;
}

header nav {
  margin: 0 20px 0 auto;
}

header nav a {
  text-decoration: none;
  transition-duration: 0.3s;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 10px;
}

.logo img {
  margin-right: 10px;
}

.post-info,
.footer {
  font-size: 14px;
  font-style: italic;
}

footer a {
  color: black;
  margin-right: 20px;
}

footer a:hover {
  text-decoration: underline;
}

footer a,
.logo {
  text-decoration: none;
}

main {
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(102, 102, 102, 0.5);
  margin-top: -20px;
  max-width: var(--max-screen-width);
  min-height: 300px;
  overflow-x: hidden;
  padding: 20px 30px;
  z-index: 1;
}

main,
header,
footer {
  margin-left: auto;
  margin-right: auto;
}

.post-list-item {
  margin: 50px 0;
}

.post-list-item p,
.post-list-item h2 {
  margin: 8px;
}

.post-list-item h2 {
  margin-bottom: 0;
}

.post-list-item a {
  text-decoration: none;
}
